.chart {
  position: relative;
  width: 180px;

  strong {
    position: absolute;
    top: 35%;
    left: 36%;
    line-height: 88px;
    font-size: 25px;
    font-weight: 700;
    color: #5383e8;
  }
}
