@import 'src/styles/_variables.scss';

.game-summary {
  width: calc(100% - 6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-radius: $champion-border-radius;
  border-left-width: 6px;
  border-left-style: solid;
  border-color: $lose-border;
  background-color: $lose-box;
  color: $basic-font;

  .game-info {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    font-weight: bold;
    .game-mode {
      color: $death;
    }
    .is-victory {
      color: $victory-border;
    }
    span {
      font-weight: normal;
    }
  }

  .basic-info {
    display: flex;
    align-items: center;
    .score {
      margin-left: 8px;
    }
    .score > div > span {
      font-weight: bold;
      &:nth-of-type(2) {
        color: $death;
      }
    }
    span {
      font-size: 14px;
    }
  }

  .more {
    display: flex;
    table {
      width: 200px;
      table-layout: fixed;
      word-break: break-all;
      margin: 8px;
      font-size: 15px;
      th {
        font-weight: 600;
      }
      tr > td {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    button {
      width: 40px;
      background-color: $lose-button;
      color: $death;
      font-size: 20px;
      font-weight: bold;
    }
    .button-victory {
      background-color: $victory-button;
      color: $victory-border;
    }
  }
}
.is-victory {
  border-color: $victory-border;
  background-color: $victory-box;
}
.detail {
  box-sizing: border-box;
  border: 1px solid $th-color;
  border-radius: 5px;
  padding-right: 5px;
  margin-bottom: 16px;
}
