@import '../../src/styles/variables';

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: $th-background;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
