@import '../../src/styles/variables';

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: $th-background;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.loading {
  margin: 0 auto;
  .spinner {
    width: 50px;
    height: 50px;
    border-width: 5px;
    border-color: transparent;
    border-top-color: $victory-box;
    border-bottom-color: $victory-box;
    margin: 0 auto;
    border-radius: 50%;
    border-style: solid;
    animation: spinner 0.8s linear infinite;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.more-info {
  display: flex;
  justify-content: space-between;
  .duration-box,
  .position-box {
    width: 47%;
    padding: 10px 0 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    color: $font-color;
    .duration {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-left: 10px;
      span {
        font-size: 24px;
        line-height: 45px;
        font-weight: 600;
      }
    }
    img {
      width: 72px;
      height: 58px;
    }
  }
  .duration-box {
    background-color: $time-background;
  }
  .position-box {
    background-color: $victory-border;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.no-result {
  width: fit-content;
  margin: auto;
  font-size: 20px;
  color: $victory-box;
}
