$mode: #4171d6;
$basic-font: #758592;
$victory-box: #ecf2ff;
$victory-border: #5383e8;
$lose-box: #fff1f3;
$lose-border: #e84057;
$death: #d31a45;
$kill-asist: #202d37;
$champion-border-radius: 4px;
$th-background: #424254;
$th-color: #8b8a9e;
